events {
	worker_connections 768;
}

http {
    upstream web {
        {% for host in groups['webservers'] %}
        server {{ hostvars[host].ansible_host }};
        {% endfor %}
    }

    server {
        location / {
            proxy_pass http://web;
        }
    }
}
